/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_d56e82e377bfcfb2f03e24574186bac4.eot");
  src: url("../fonts/fontcustom_d56e82e377bfcfb2f03e24574186bac4.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_d56e82e377bfcfb2f03e24574186bac4.woff") format("woff"),
       url("../fonts/fontcustom_d56e82e377bfcfb2f03e24574186bac4.ttf") format("truetype"),
       url("../fonts/fontcustom_d56e82e377bfcfb2f03e24574186bac4.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_d56e82e377bfcfb2f03e24574186bac4.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-DNA:before,
.icon-IIMCB:before,
.icon-IIMCB_black:before,
.icon-Mendelejew:before,
.icon-Pi:before,
.icon-atom:before,
.icon-bojemsiemkrwi:before,
.icon-diploma:before,
.icon-globus:before,
.icon-graduacja:before,
.icon-gwiazdor:before,
.icon-jablko:before,
.icon-kalkulus:before,
.icon-maly_chemik:before,
.icon-microscope:before,
.icon-molekula:before,
.icon-mozdiez:before,
.icon-notes:before,
.icon-piguly:before,
.icon-piguly_2:before,
.icon-piguly_3:before,
.icon-pisadlo:before,
.icon-prawiemetan:before,
.icon-probowy:before,
.icon-procek:before,
.icon-procek_2:before,
.icon-procek_3:before,
.icon-radiation:before,
.icon-saturnus-ai:before,
.icon-wajalsy:before,
.icon-zarowa:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-DNA:before { content: "\f103"; }
.icon-IIMCB:before { content: "\f11d"; }
.icon-IIMCB_black:before { content: "\f11e"; }
.icon-Mendelejew:before { content: "\f104"; }
.icon-Pi:before { content: "\f105"; }
.icon-atom:before { content: "\f106"; }
.icon-bojemsiemkrwi:before { content: "\f107"; }
.icon-diploma:before { content: "\f108"; }
.icon-globus:before { content: "\f109"; }
.icon-graduacja:before { content: "\f10a"; }
.icon-gwiazdor:before { content: "\f10b"; }
.icon-jablko:before { content: "\f10c"; }
.icon-kalkulus:before { content: "\f10d"; }
.icon-maly_chemik:before { content: "\f10e"; }
.icon-microscope:before { content: "\f10f"; }
.icon-molekula:before { content: "\f110"; }
.icon-mozdiez:before { content: "\f111"; }
.icon-notes:before { content: "\f112"; }
.icon-piguly:before { content: "\f100"; }
.icon-piguly_2:before { content: "\f113"; }
.icon-piguly_3:before { content: "\f11b"; }
.icon-pisadlo:before { content: "\f114"; }
.icon-prawiemetan:before { content: "\f115"; }
.icon-probowy:before { content: "\f101"; }
.icon-procek:before { content: "\f102"; }
.icon-procek_2:before { content: "\f116"; }
.icon-procek_3:before { content: "\f11c"; }
.icon-radiation:before { content: "\f117"; }
.icon-saturnus-ai:before { content: "\f118"; }
.icon-wajalsy:before { content: "\f119"; }
.icon-zarowa:before { content: "\f11a"; }
