body {
  font-family: 'Titillium Web', sans-serif;
  color: #444;
  font-weight: 100;
  text-shadow: none;
  text-decoration: none;
  font-weight: 200;
}
h1,
h2,
h3,
h4,
h5,
h6,

.page h2 {
  color: #2d2d2d;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
          transition: all .2s;
}
.btn-blue {
  color: #28AAE1;#006789
  background-color: #fff;
  border: 2px solid #28AAE1;
  padding: 10px 28px;
}
.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background-color: #28AAE1;
}
.btn-green {
  color: #fff;
  background-color: #71be3c;
}
.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #2a3940;
}
.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.fading-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/fading-line.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#navbar-top { min-height: 51px }
.navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border-top: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.navbar-default .navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #28AAE1;
  background-color: transparent;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #28AAE1 }
.navbar-default.affix {
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.page { overflow: hidden; }
.page .content { padding: 50px 0 }
.page .content.cover {
  padding: 0 10px 25px;
}
.page .heading h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.page .border {
  width: 200px;
  height: 2px;
  margin: 0 auto;
  background-color: #28AAE1;
}
.page .heading p { margin: 60px auto 0 }
.frontpage {
  background: url(../img/cover/home.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.frontpage { overflow: hidden; }
.frontpage .content {
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}
.frontpage .content.cover {
  padding: 150px 10px 25px;
}
.frontpage .heading h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.frontpage .border {
  width: 150px;
  height: 2px;
  margin: 0 auto;
  background-color: #28AAE1;
}
.frontpage .heading p { margin: 20px auto 0 }
#home h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
}
#home a { margin: 0 5px }
#home h3 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#home
.teamlogo {
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
  width: 300px;
}
#services {
  background-color: #f5f5f5;
  border-bottom: solid 1px #e7e7e7;
  overflow: hidden;
}
#services .service i {
  font-size: 72px;
}
#services .service:hover i { color: #28AAE1 }
#work .heading p { margin-bottom: 60px }
#portfolio {
  width: 100%;
  border-bottom: solid 1px #e7e7e7;
}
#portfolio .filters { margin-bottom: 20px }
#portfolio .filters li a {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .filters li a:hover,
#portfolio .filters li a:focus { color: #28AAE1 }
#portfolio .filters li a.active { color: #0093cf }
#portfolio .items { margin-bottom: 0 }
#portfolio .items li {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
}
#portfolio .items li a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
  opacity: 0;
}
#portfolio .items li a .overlay span {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}
#portfolio .items li a:hover .overlay { opacity: 1 }
#portfolio .items li a:hover img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#newsroom {
  color: #2d2d2d;
  background-color: #f5f5f5;
  border-bottom: solid 1px #e7e7e7;
}
#news a {
  color: #2d2d2d;
  padding-bottom: 40px;
}
#news .carousel-indicators li {
  width: 9px;
  height: 9px;
  border-color: #a6a6a6;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
#news .carousel-indicators li:focus { border-color: #2d2d2d }
#news .carousel-indicators .active {
  width: 9px;
  height: 9px;
  margin: 1px;
  background-color: #28AAE1;
  border-color: #2d2d2d;
}
#news .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
#news .carousel-control {
  width: auto;
  color: #2d2d2d;
}
#news .carousel-control.left {
  margin-left: -45px;
}
#news .carousel-control.right {
  margin-right: -45px;
}
#featured {
  border-bottom: solid 1px #e7e7e7;
}
#featured .logos {
  display: inline-block;
  width:100%;
  padding-top: 50px;
}
#featured .logos img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: all .25s ease-in-out;
}
#featured .logos img:hover {
  filter: none;
  -webkit-filter: none;
  -webkit-transform: scale(1.1);
  opacity: 1;
  filter: alpha(opacity=1);
}
#about {
  border-bottom: solid 1px #e7e7e7;
}
#about .content {
  padding-bottom: 0;
}
#about .teammate {
  margin-top: 60px;
  margin-bottom: 60px;
}
#about .teammate .bio { padding-top: 10px }
#about .teammate .profile-photo {
  overflow: hidden;
  display: inline-block;
}
#about .teammate .profile-photo img {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
#about .teammate:hover .profile-photo img,
#about .teammate:focus .profile-photo img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#about .teammate .bio .border {
  height: 1px;
  margin: 15px auto;
}
#about .teammate .bio ul {
  margin-bottom: 0;
  font-size: 16px;
}
#about .teammate .bio a { color: #444 }
#about .teammate .bio a:hover,
#about .teammate .bio a:focus { color: #28AAE1 }
#contact .iimcb a {
  padding-top: 20px;
}
#contact .fa:hover {
  color: #28AAE1;
}
#contact {
  /*background: url(../img/cover/contact.png);*/
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#contact,
#contact a {
  color: #444;
}
#contact a:hover {
  color: #28AAE1;
  text-decoration: none;
}
#contact .heading .border { background-color: #28AAE1 }
#contact a { display: block }
#contact i { margin: 60px 0 15px }
#contact img {
  padding-top: 80px;
}
#contact .iimcb img {
  padding: 100px 10px 20px;
}
#contact .iimcb a {
  color: #444;
  text-decoration: none;
}
#footer {
  padding: 10px 0;
  color: #444;
  text-align: center;
  background-color: #f5f5f5;
}
#footer .bottom img {
    display: inline-block;
    padding: 60px;
    width: 100vw;
    max-width: 1000px;
}
#footer a
#footer a:hover,
#footer a:focus { color: #28AAE1 }
#footer .social { margin-bottom: 20px }
#footer .social li .facebook:hover,
#footer .social li .facebook:focus { color: #28AAE1 }
#footer .social li .twitter:hover,
#footer .social li .twitter:focus { color: #28AAE1 }
#footer .social li .google-plus:hover,
#footer .social li .google-plus:focus { color: #28AAE1 }
#footer .social li .dribbble:hover,
#footer .social li .dribbble:focus { color: #28AAE1 }
#footer .copyright { margin-bottom: 0 }
.work .title {
  color: #222;
}
/* Responsive style */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .frontpage .content.cover { padding: 250px 0px 0px 0px; }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .frontpage .content.cover { padding: 300px 0px 0px 0px; }
}
/* Small devices (tablets, 768px and up) */
@media @media (min-width: 768px) and (max-width: 992px) {
  .frontpage .content.cover { padding: 100px 0px 0px 0px; }
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .frontpage .portal-logos { width: 33%; max-width: 180px; }
}
